

body{
    margin : 0;
    font-family: "Nunito Sans", sans-serif;
    background-color: var(--bg_body);
    
}

:root {
    --brand-primary: #0768AC;
    --brand-secondary: #03C180;
    --bg_default: #FFFFFF;
    --bg_body: #F0F9FF;
    --lines-color: #DDDDDD;
    --body-text: #333333;
    --heart-color: #DC143C;
    --details-bg: #333333;
    --details-text : #EDEDED;

  }
 
.dark-mode {
        --brand-primary: #0768AC;
        --brand-secondary: #03C180;
        --bg_default: #1A1A1A;
        --bg_body: #282828;
        --lines-color: #000000;
        --body-text: #EDEDED;
        --heart-color: #DC143C;
        --bg-top: #000000;
        --details-bg: #2D2D2DFF;
        --details-text : #EDEDED;
    }
header{
    background-color: var(--bg_default);
}
.header-topic{
    color: var(--brand-primary);
    font-weight: 400;
}
.header-nav{
    
    display: flex;
    flex-flow: row;
    align-items: center;
    text-align: center;
    
}

.header-btn{
    cursor : pointer;
    color: var(--body-text);
    background-color: transparent;
    border: 2px solid var(--lines-color);
    border-radius: 5px;
    transition: transform 0.5s ease;
    padding-top: 2%;
    padding-bottom: 2%;
}
.header-btn:hover{
    transform : scale(1.04);
}


.flex{
    display: flex;
    justify-content: space-between;
    padding: 1% 4% 1% 4%;
   
}

.triangle-container{
    position:relative;
}
.triangle-a{
    height:50px;
    width:100%;
    clip-path: polygon(0% 0%, 0% 100%, 80% 0%, 0% 0%);
    background : linear-gradient(to right,var(--brand-primary) 0% ,#04849d 20%, #03A0Bd 100%);
    
}
.triangle-b{
    height: 50px;
    background-color: var(--brand-secondary);
    clip-path: polygon(100% 0%, 100% 100%, 0% 0%);
    width: 100%;
    position: absolute;
    
}

.welcome-msg{
    color: var(--brand-secondary);
    font-weight: 700;
    text-align: center;
}

.complement-msg{
    color: var(--body-text);
    text-align: center;
}

.main{
    display:grid;
    position: relative;
    background-color: var(--bg_body);
}



.card-description{
    padding: 15px;
}

.star{
    color: #ffaa4a;
}

footer{
    text-align: center;
    background-color: var(--bg_body);
    color: var(--body-text);
}

h4,h3{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.description{
    background-color: var(--details-bg);
    
    width: 100%;
    padding-top: 1%;;
   
    
    
}
.description-content{
    width: 35%;
    margin-left: 25%;
    margin-bottom: 5%;

}

.details-head{
    color: var(--brand-secondary);
}

.details-course{
    color: var(--details-text);
}

.details-content{
    color: var(--details-text);
}

.Topics{

    width: 32%;
    margin-left: 25%;
    padding : 2% 2% 2% 0%;
    
    
    
    background-color: transparent;
    display: grid;
    grid-template-rows: auto auto auto;
  
    
}

.grid-box{
  border: 1px solid var(--lines-color);
  background-color: var(--bg_default);
  color: var(--body-text);
  border-radius: 1%;
  padding: 20px;
  width: 100%;
}




.icon-color{
    color: var(--brand-secondary)
}
.footer-details{
    background-color: var(--bg_body);
}

.topic-card{

        width:25%;
        background-color: white;
        border: 2px solid var(--bg_body);
        
        margin: 4% 0%  0% 65%;
        position : absolute;


}

.details-image-card{
    width:100%;
    min-height: 40%;
    max-height: 40%;
}

.bold{
    font-weight: 800;
    font-size: large;
}

.card-details-interested{
    margin : 4%;
    border: 2px solid var(--lines-color);
    padding-left: 7%;
    font-size: large;

}

.details-btn-favorites{
    cursor: pointer;
    width:90%;
    height: 3rem;
    background-color: var(--brand-secondary);
    font-size:larger;
    color: white;
    border: var(--lines-color);
    padding-bottom: 2rem;
}

.heart-fav-details{
    color: white;
    font-size: 30px;
    text-align: center;
}

.unlimited{
    text-align: center;
    color:  var(--lines-color);
    font-size: medium;
    font:bold;

}

#Favourites{
    color:var(--body-text);
    padding-left: 4%;
    padding-bottom: 2%;
    background-color: var(--bg_default);
    
    position: sticky;
    z-index: 999;
    overflow: auto;
    bottom: 0;
    width : 96%;
    visibility: hidden;
    
}

.grid-cards-fav{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(120px,2fr));
    grid-gap: 1rem;
}

.card-fav{
    width:100%;
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid var(--lines-color);
}

.card-fav-image{
    width: 100%;
    min-height: 50%;
    max-height: 50%;
    border-radius: 10% 10% 0% 0%;
}
.card-fav-description{
    margin: 0% 5% 0% 5%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}
.fav{

    margin-left:4%;
}


