


body{
    margin : 0;
    font-family: "Nunito Sans", sans-serif;
}

:root {
    --brand-primary: #0768AC;
    --brand-secondary: #03C180;
    --bg_default: #FFFFFF;
    --bg_body: #F0F9FF;
    --lines-color: #DDDDDD;
    --body-text: #333333;
    --heart-color: #DC143C;
  }
.header-topic{
    color: var(--brand-primary,--brand-secondary);
    margin-right: 1100px;/*I used it to push the buttons in the header to the maximum right because float:riht didn't work, and display:flex didn't work*/
    font-weight: 400;
}
.header-btn{
    background-color: transparent;
    border: 2px solid var(--lines-color);
    border-radius: 5px;
    padding: 5px 10px;
}
.flex{
    display: flex;
    padding: 10px 60px;


}

.header-nav{
    float : right;
}


.blue-triangle{
    background-color: var(--brand-primary);
    padding-bottom: 40px;
}

.welcome-msg{
    color: var(--brand-secondary);
    font-weight: 700;
    text-align: center;
}

.complement-msg{
   
    text-align: center;
}

.main-content{
    background-color: var(--bg_body);
    padding: 20px 20px 60px 60px;
}

.search-bar{
    border: 2px solid var(--lines-color);
    border-radius: 5px;
    padding: 5px 10px;
    max-height: 40px;
}

.result{
    font-weight: 900;
    font-size: large;
}

.Cards{

    display: flex;
    flex-wrap: wrap;
}

.card{
    width:18%;
    background-color: white;
    border-radius: 5%;
    margin: 10px;
    
}
.image-card{
    border-radius: 5% 5% 0% 0%;
    width:100%;
    min-height: 40%;
    max-height: 40%;
}

.Author{
    color: grey;
    font-weight: 700;
}

.card-description{
    padding: 15px;
}

.star{
    color: #ffaa4a;
}

footer{
    text-align: center;
}

h4,h3{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

