

body{
    margin : 0;
    padding-bottom: 2%;
    font-family: "Nunito Sans", sans-serif;
    background-color: var(--bg_body);
    
}

:root {
    --brand-primary: #0768AC;
    --brand-secondary: #03C180;
    --bg_default: #FFFFFF;
    --bg_body: #F0F9FF;
    --lines-color: #DDDDDD;
    --body-text: #333333;
    --heart-color: #DC143C;

  }
 
.dark-mode {
        --brand-primary: #0768AC;
        --brand-secondary: #03C180;
        --bg_default: #1A1A1A;
        --bg_body: #282828;
        --lines-color: #000000;
        --body-text: #EDEDED;
        --heart-color: #DC143C;
        --bg-top: #000000;
        --details-bg: #2D2D2DFF;
    }
header{
    background-color: var(--bg_default);
}
.header-topic{
    color: var(--brand-primary);
    font-weight: 400;
}

.header-nav{
    display: flex;
    flex-flow: row;
    align-items: center;
    text-align: center;
    
}

.header-btn{
    cursor : pointer;
    display: flex;
    align-items: center;
    color: var(--body-text);
    background-color: transparent;
    border: 2px solid var(--lines-color);
    border-radius: 5px;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: transform 0.5s ease;
}
.header-btn:hover{
    transform : scale(1.04);
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1% 4% 1% 4%;
   
}

.triangle-container{
    position:relative;
}
.triangle-a{
    height:50px;
    width:100%;
    clip-path: polygon(0% 0%, 0% 100%, 80% 0%, 0% 0%);
    background : linear-gradient(to right,var(--brand-primary) 0% ,#04849d 20%, #03A0Bd 100%);
    
}
.triangle-b{
    height: 50px;
    background-color: var(--brand-secondary);
    clip-path: polygon(100% 0%, 100% 100%, 0% 0%);
    width: 100%;
    position: absolute;
    
}

.welcome-msg{
    color: var(--brand-secondary);
    font-weight: 700;
    text-align: center;
}

.complement-msg{
    color: var(--body-text);
    text-align: center;
}

.main-content{
    background-color: var(--bg_body);
   /* padding: 20px 20px 60px 60px;*/
   padding: 2% 4% 2% 4%;
   box-sizing: border-box;
    flex-grow: 1;
}

.center-search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7vh;
    
}
.search-bar{
    width: 70%;
    border: 2px solid var(--lines-color);
    background-color: var(--bg_default);
    box-sizing: border-box;
    border-radius: 10px 0 0 10px;
  /*  padding: 5px 10px;*/
    text-align: left;
    height:100%;
    position:relative;
    display: flex;
    
}

.search-bar-text-input{
    width: 100%;
    background-color: var(--bg_default);
    box-sizing: border-box;
  /*  padding: 5px 10px;*/
    height:100%;
    margin-left: 5%;
    padding-top: 2%;
    color: var(--body-text);

}
input{
    width: 100%;
    height: 100%;
    background: transparent;
    color: var(--body-text);
    border-style: none;

}
input:focus {
    outline-width: 0;
}
.search-icon{
    
       /* padding-left: 25px;*/
       margin: 2% 2% 0 2%;
       position: absolute;
        background-size: 20px;
        color: var(--body-text);
        
        
      
}
.selection{
    position:relative;
    height: 100%;
    width:15%;
}
.search-bar-select{

    width:100%;
    height:100%;
    border: 2px solid var(--lines-color);
    padding: 5px 10px;
    
    background-color: var(--bg_default);
    color: var(--body-text);
    
    /*text-align: center;*/
}
.search-bar-select-box{
    height : 100%;
}
.select-label{
    font-size:10px;
    text-transform: uppercase;
    color: var(--body-text);
    position: absolute;
    margin-left:10%;
    
}

.filter{
    border-radius: 0 10px 10px 0;
    
}

.result{
    color: var(--body-text);
    font-weight: 900;
    font-size: large;
}

.Cards{

    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,2fr));
    grid-gap: 1.25rem;
}

.card{
    cursor: pointer;
    width:100%;
    background-color: var(--bg_default);
    color: var(--body-text);
    border-radius: 5%;
    margin: 10px;
    transition: transform 0.5s ease;
    
}
.card:hover{
    transform: scale(1.1);
}
.image-card{
    border-radius: 5% 5% 0% 0%;
    width:100%;
    min-height: 40%;
    max-height: 40%;
}

.Author{
    color: grey;
    font-weight: 700;
}

.card-description{
    padding: 15px;
}

.star{
    color: #ffaa4a;
}

footer{
    text-align: center;
    background-color: var(--bg_body);
    color: var(--body-text);
}

h4,h3{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.description{
    background-color: var(--body-text);
   
    
    
}
.description-content{
    width: 450px;
    margin-left: 25%;
    margin-top:2%;
    padding : 2% 0% 2% 0%;

}

.details-head{
    color: var(--brand-secondary);
}

.details-course{
    color: var(--lines-color);
}

.details-content{
    color: var(--lines-color);
}

.details-for-topic{
    background-color: var(--bg_body);
    padding-top: 5%;
}
.Topics{
    width: 450px;
    margin-left: 25%;
    padding : 2% 2% 2% 2%;
    color: var(--body-text);
    border : 2px solid var(--lines-color);
    border-radius: 1%;
    background-color: var(--bg_default);
    
}


.list-details {
    list-style: none;
  }

.list-details li{
    margin-top: 20px;
    border : 2px solid var(--lines-color);
}

.icon-color{
    color: var(--brand-secondary)
}
.footer-details{
    background-color: var(--bg_body);
}

.topic-card{

        width:25%;
        background-color: white;
        border: 2px solid var(--bg_body);
        box-shadow: 2px 2px 2px 2px var(--lines-color);
        margin: 10px;
        float: right;
        


}

.details-image-card{
    width:100%;
    min-height: 40%;
    max-height: 40%;
}

.bold{
    font-weight: 800;
    font-size: large;
}

.card-details-interested{
    border: 2px solid var(--lines-color);
    padding-left: 7%;
    font-size: large;

}

.details-btn-favorites{
    
    width:90%;
    height: 3rem;
    background-color: var(--brand-secondary);
    font-size:larger;
    color: white;
    border: var(--lines-color);
    padding-bottom: 2rem;
}

.heart-fav-details{
    color: white;
    font-size: 30px;
    text-align: center;
}

.unlimited{
    text-align: center;
    color:  var(--lines-color);
    font-size: medium;
    font:bold;

}

#Favourites{
    color:var(--body-text);
    padding-left: 4%;
    padding-bottom: 2%;
    background-color: var(--bg_default);
    
    position: sticky;
    z-index: 999;
    overflow: auto;
    bottom: 0;
    width : 96%;
    visibility: hidden;
    
}

.grid-cards-fav{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(120px,2fr));
    grid-gap: 1rem;
}

.card-fav{
    width:100%;
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid var(--lines-color);
}

.card-fav-image{
    width: 100%;
    min-height: 50%;
    max-height: 50%;
    border-radius: 10% 10% 0% 0%;
}
.card-fav-description{
    margin: 0% 5% 0% 5%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}
.fav{

    margin-left:4%;
}


.cancel{
    position : absolute;
    cursor: pointer;
    font-weight: bold;
    background-color: transparent;
    border-radius: 10%;
    margin-left: 0.3%;
}